#DevelopmentTeam=HWNN79EE46
#CODE_SIGN_IDENTITY_DEBUG="iPhone Developer: hui li (2MTPT7R6B2)"
#CODE_SIGN_IDENTITY_RELEASE="iPhone Distribution: Beijing Hechuangweilai Internet Technology Corporation (HWNN79EE46)"
#SDK_SIGN_IDENTITY_DEBUG="iPhone Developer"
#SDK_SIGN_IDENTITY_RELEASE="iPhone Developer"

PRODUCT_BUNDLE_IDENTIFIER=com.peoplemoney.geren

IPA_NAME=jdjk_GeRen

app_name=简单借款(个人版)
app_version=1.0.0

WeixinPayOn=0

md_client_name=ios_gr
md_client_channel=appstore_gr

umeng_analytics_key=58ca4a8c8630f5706d001ace

baidu_loc_key=CuaPi3E90pnylh5LVTrxB07D5vZouRTA