#DevelopmentTeam=HWNN79EE46
#CODE_SIGN_IDENTITY_DEBUG="iPhone Developer: hui li (2MTPT7R6B2)"
#CODE_SIGN_IDENTITY_RELEASE="iPhone Distribution: Beijing Hechuangweilai Internet Technology Corporation (HWNN79EE46)"
#SDK_SIGN_IDENTITY_DEBUG="iPhone Developer"
#SDK_SIGN_IDENTITY_RELEASE="iPhone Developer"

PRODUCT_BUNDLE_IDENTIFIER=com.peoplemoney.hcsudaibearjs

IPA_NAME=jdjk_JiSu

app_name=简单借款
app_version=1.3.0

WeixinPayOn=0

md_client_name=ios_js
md_client_channel=appstore_js

umeng_analytics_key=583694788630f578af00112a

baidu_loc_key=eRCEHBtz1WOrnQ7lkSpN4Woqc3eHeZSr