#DevelopmentTeam=HWNN79EE46
#CODE_SIGN_IDENTITY_DEBUG="iPhone Developer: hui li (2MTPT7R6B2)"
#CODE_SIGN_IDENTITY_RELEASE="iPhone Distribution: Beijing Hechuangweilai Internet Technology Corporation (HWNN79EE46)"
#SDK_SIGN_IDENTITY_DEBUG="iPhone Developer"
#SDK_SIGN_IDENTITY_RELEASE="iPhone Developer"

PRODUCT_BUNDLE_IDENTIFIER=com.peoplemoney.hcsudaibear

IPA_NAME=jdjk

app_name=简单借款

app_version=2.8.0

WeixinPayOn=1

md_client_name=ios
md_client_channel=appstore

umeng_analytics_key=56d7f7c2e0f55aa8e1000d76

baidu_loc_key=VDrrBE2PTfGq7Xg6P7pvLNYSCGeMnggi