#DevelopmentTeam=HWNN79EE46
#CODE_SIGN_IDENTITY_DEBUG="iPhone Developer: hui li (2MTPT7R6B2)"
#CODE_SIGN_IDENTITY_RELEASE="iPhone Distribution: Beijing Hechuangweilai Internet Technology Corporation (HWNN79EE46)"
#SDK_SIGN_IDENTITY_DEBUG="iPhone Developer"
#SDK_SIGN_IDENTITY_RELEASE="iPhone Developer"

PRODUCT_BUNDLE_IDENTIFIER=com.peoplemoney.sdjk

IPA_NAME=jdjk_ShanDian

app_name=闪电贷款
app_version=1.1.0

WeixinPayOn=0

md_client_name=ios_sd
md_client_channel=appstore_sd

umeng_analytics_key=58ad469daed1793ec8001492

baidu_loc_key=l602Na20FaBxhoP7B5WBwDGOfStPUX57