#DevelopmentTeam=HWNN79EE46
#CODE_SIGN_IDENTITY_DEBUG="iPhone Developer: hui li (2MTPT7R6B2)"
#CODE_SIGN_IDENTITY_RELEASE="iPhone Distribution: Beijing Hechuangweilai Internet Technology Corporation (HWNN79EE46)"
#SDK_SIGN_IDENTITY_DEBUG="iPhone Developer"
#SDK_SIGN_IDENTITY_RELEASE="iPhone Developer"

PRODUCT_BUNDLE_IDENTIFIER=com.peoplemoney.jiandanjiedai

IPA_NAME=jdjd

app_name=简单借贷
app_version=1.0.0

WeixinPayOn=0

md_client_name=ios_jdjd
md_client_channel=appstore_jdjd

umeng_analytics_key=58ca4df6f43e4805520008b8

baidu_loc_key=pIPN6R5UGpgeyX1B2dAEoCFCUeIk8Gzb